snippet if "if"
        {#if $1}
        $2
snippet else "else"
        {:else}
        $2
snippet elif "else if"
        {:else if $1}
        $2
snippet sif "if end"
        {/if}
snippet each "each"
        {#each $1}
        $2
snippet seach "each end"
        {/each}
